// Usted debe copiar este archivo a `environment.ts` y ajustar los valores para su configuración de desarrollo.
export const environment = {
  production: false,
  apiUrl: 'http://localhost:8080/api',
  weatherApiKey: '407baf5df5074538b3c153359261405'
};